@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  /* light mode colors */
  --blue: #0079ff;
  --dark-grey: #2b3442;
  --light-grey: #697c9a;
  --blue-grey: #4b6a9b;
  --dark-white: #f6f8ff;
  --white: #fefefe;

  /* dark mode colors */
  --darkmode-blue: #0079ff;
  --darkmode-white: #ffffff;
  --darkmode-black: #141d2f;
  --darkmode-blue-grey: #1e2a47;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-white);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-grey);
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  color: var(--dark-grey);
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: var(--dark-grey);
}
h3 {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--blue);
}
h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #4b6a9b;
}

.title {
  display: flex;
  margin: 31px 24px;
  width: 327px;
  justify-content: space-between; /*this creates space horizontally*/
  align-items: center;
}

.theme {
  display: flex;
}
.themeNames {
  margin-right: 16px;
}
/* middle section */
.search {
  width: 327px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  margin: 0 24px;
}
.search img {
  width: 20.05px;
  height: auto;
}
.search textarea {
  width: 184px;
  height: 25px;
  border: none;
  margin-right: 7px;
  margin-left: 8.95px;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
}
.search button {
  width: 84px;
  height: 46px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10px;
}
/* bottom section */
.profile {
  width: 327px;
  height: 517px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  background-color: var(--white);
  margin: 16px 24px;
  padding: 32px 24px;
}
.user {
  display: flex;
  margin-bottom: 33px;
}
.user img {
  width: 70px;
  height: auto;
}
.details h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.details h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 6px;
}
.details p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #697c9a;
}
#bio {
  margin-bottom: 23px;
  color: var(--blue-grey);
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
}
.myData {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  padding: 19px 15px;
  background-color: var(--dark-white);
  border-radius: 10px;
}
.data h4 {
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}
.data div {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.aboutMe {
  width: 185px;
  height: 127px;
}
.contact {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.location img {
  margin-right: 19.25px;
}
.website img,
.twitter img,
.work img {
  margin-right: 13.01px;
}

.contact div {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: var(--blue-grey);
}
